body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0efff;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: #1167b1 ;
}

header{
    background-color:#062539 ;
}

#wrapper {
    background-color: #fff;
}